/* Tags */
body,html {
	height:100%;
}

/*removes google logo from maps*/
a[href^="http://maps.google.com/maps"]{
	display:none !important
	}

a[href^="https://maps.google.com/maps"]{
	display:none !important
	}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}
.gmnoprint div {
    background:none !important;
}
/*end of google maps*/

/* Classes */
.margin-top {
	margin-top: 0px;
}
.content {
	height: 100%;
	width: 100%
}
.full-height {
	height: 100%;
}
.full-page {
	height: 100%;
	width: 100%;
}
.inherit-height{
	height: inherit;
}
.inherit-dim{
	height: inherit;
	width: inherit;
}
.no-margin{
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

.no-padding{
	padding:0;
}

/* Search box */

#pac-input {
	background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 400px;
}

#pac-input:focus {
        border-color: #4d90fe;
}